---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset 'utf-8';

@import 'base', 'helpers';

@import 'sections/header';

.container {
  width: 640px;
  margin: 0 auto;
}

.mini-post {
  line-height: 1.9rem;
  margin-bottom: 5rem;

  .mini-post-title {
    font-size: 1.75rem;
    line-height: 2.09rem;
    margin-bottom: 1.14rem;
    font-weight: 600;
    text-rendering: optimizeLegibility;

    .mini-post-title-link {
      text-decoration: none;
      color: #29292c;
    }
  }

  .mini-post-teaser {
    margin-bottom: 1.14rem;
  }

  .mini-post-meta {
    padding-bottom: 0;
    width: auto;

    .mini-post-meta-author-name {
      display: inline-block;
      line-height: 1.3;
      position: relative;

      &::after {
        content: '-';
        color: #9b9aa1;
        display: inline;
        margin: 0 0.5rem;
      }
    }

    .mini-post-meta-date {
      margin-right: 1.5rem;
      font-size: 1.1rem;
    }

    .mini-post-meta-tags {
      display: inline-block;
      margin-top: 0.5rem;
      font-size: 0.8rem;
      font-weight: 600;
      letter-spacing: 0.05em;
      list-style: none;
      text-align: center;
      text-transform: uppercase;
      padding-left: 0;

      .mini-post-meta-tag {
        display: inline-block;

        &:not(:last-of-type)::after {
          content: ",";
          display: inline-block;
          margin-left: -1px;
          margin-right: 4px;
        }
      }
    }
  }
}
