<!DOCTYPE html>
<html lang="en">
<head>
  <title>NotABlog - Blog para começar no mundo de ricing em distribuições Linux</title>

  <!-- Meta -->
  <meta charset="UTF-8">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
  <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
</head>
<body>
  <main class="container">
    <header>
      <a href="{{ site.baseurl }}">
        <img src="{{ site.baseurl }}/images/logo.png" alt="Pinguin Linux">
      </a>
    </header>
